
.icon-search:before { content: '\e800'; } /* '' */
.icon-pin:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-attach:before { content: '\e805'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
