@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
html{
  font-size: 10px;
}
body{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  overflow: hidden;
  background: plum;
  cursor: none;
}

#cursor{
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid purple;
  border-radius: 50%;
  background: rgba(255, 255, 255, .2);
  transform: translate(-50%, -50%);
  transition: .1s;
  /* important  */
  pointer-events: none;
  z-index: 9;
}

.container{
  position: relative;
  padding: 1em 0;
}
.container:hover ~ #cursor{
  width: 100px;
  height: 100px;
  border: 2px dashed purple;
  animation: ani 5s linear infinite;
}
@keyframes ani{
  from{
    transform: translate(-50%, -50%) rotate(0);
  }
  to{
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
a{
  text-decoration: none;
  color: blueviolet;
  cursor: none;
}
a:hover{
  background: orange;
}
